:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  a {
  font-weight: 500;
  color: #1677ff;
  text-decoration: inherit;
  }
  a:hover {
  color: #4096ff;
  }
  
  body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  }
  
  h1 {
  font-size: 2.2em;
  line-height: 1.1;
  }
  
  /* Ant Design 전역 스타일 오버라이드 */
  .ant-btn-primary {
  background-color: #1677ff;
  }
  
  .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  }
  .logo:hover {
  filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.2));
  }
  .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
