@keyframes changeLetter {
    0% {
        content: "▼";
    }
    49% {
        content: "▼";
        opacity: 0;
    }
    50% {
        content: "▲";
        opacity: 0.1;
    }
    100% {
        content: "▲";
        opacity: 1;
    }
}

.option {
    padding: 0.7rem;
    border-radius: 4px;
    background-color: #efa2a2;
    font-family: "Roboto", sans-serif;
}

.option span::after {
    content: "▼";
    float: right;
}

.optionList {
    width: 20rem;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 1s linear;
}

.optionListItem {
    height: 2rem;
    padding: 1rem 0 0 1rem;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    transition: all 0.8s;
    cursor: pointer;
}

.optionListItem:hover {
    background-color: rgba(223, 247, 179, 0.514);
}

.pppp{
    background-color: #00a9ff;
}


/*****switch*********************************/
.wrapper { position: relative; }
#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #777;
    border: 1px solid #777;
    border-radius: 20px;
    transition: 0.2s;
}
/*.switch_label:hover {*/
/*    background: #efefef;*/
/*}*/
.onf_btn {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    background: #fff;
    transition: 0.2s;
}
/* checking style */
#switch:checked+.switch_label {
    background: #2f5dbe;
    border: 1px solid #2f5dbe;
}

/*#switch:checked+.switch_label:hover {*/
/*    background: #e55;*/
/*}*/

/* move */
#switch:checked+.switch_label .onf_btn {
    left: 33px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}
