.outer {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #fa7afa;
    display: block;
}


.inner {
    height: 200px;
    margin: 10%;
    background-color: #0d70a5;
    position: absolute;
    left: 10px;
    bottom: 20px;
    display: block;
    overflow: auto;
}
